<!-- views/partials/header.ejs -->

<div class="div_header"><h2><a href="./">KILLBASE</a></h2></div>
<table>
    <tr>
        <div class="div_navigate"><h4><a href="/assassins_all">Meet the Assassins</a></h4></div>
        <div class="div_navigate"><h4><a href="/contracts_all">Show All Contracts</a></h4></div>
    </tr>
    <tr>
        <div class="div_navigate"><h4><a href="/assassin_add">Add an Assassin</a></h4></div>
        <div class="div_navigate"><h4><a href="/contract_add">Start a New Contract</a></h4></div>
    </tr>
</table>
