<!-- views/partials/header.ejs -->

<div class="div_header"><h2><a href="./">KILLBASE</a></h2></div>
<div class="div_navigate"><h4><a href="/assassins">Meet the Assassins</a></h4></div>
<div class="div_navigate"><h4><a href="/contracts">Show All Contracts</a></h4></div>