<!-- views/partials/nav.ejs -->

<div class="div_header"><h2><a href="./">KILLBASE</a></h2></div>
<table>
    <tr>
        <div class="div_navigate"><h4><a href="/assassins_all"><button class="nav">Meet the Assassins</button></a></h4></div>
        <div class="div_navigate"><h4><a href="/assassin_add"><button class="nav">Add a New Assassin</button></a></h4></div>
        <div class="div_navigate"><h4><a href="/client_add"><button class="nav">Add a New Client</button></a></h4></div>
        <div class="div_navigate"><h4><a href="/contracts_all"><button class="nav">Show All Contracts</button></a></h4></div>
        <div class="div_navigate"><h4><a href="/contract_add"><button class="nav">Start a New Contract</button></a></h4></div>
    </tr>
</table>
