<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css" charset="utf-8">
    <title>KillBase - Add New Contract</title>
</head>
<body>
    <% include ./partials/nav %>
    <form name="contract_add" method="POST" action="/contract_submit">
        <table>
            <tr>
                <td class="table_title" colspan="6"><h3>Add New Contract...</h3>
                <i>(Snake Plissken, New York, (find a photo), security 5, budget 35, Client is Marcellus Wallace.)</i></td>
            </tr>
            <tr>
                <td><strong>Client</strong></a></td>
                <td><strong>Target Name</strong></a></td>
                <td><strong>Target Location</strong></a></td>
                <td><strong>Target Photo (URL)</strong></td>
                <td><strong>Target Security Level</strong></a></td>
                <td><strong>Budget ($ in K)</strong></a></td>
            </tr>
            <tr>
                <td>
                    <a href="client_add"><button>New Client</button></a>
                    <select name="contract_client_id">
                        <option value="" selected disabled hidden>Select a Client</option>
                        <option><%= new_client %></option>
                        <% for(var j=0; j<clients.length; j++) {%>
                        <option value="<%= clients[j].client_id %>"><%= clients[j].client_name %></option>
                        <% } %>
                    </select>
                </td>
                <td><input name="target_name"></td>
                <td><input name="location"></td>
                <td><input name="target_photo"></td>
                <td>
                    <select name="security">
                        <option value="" selected disabled hidden>Target Security Level</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </td>
                <td><input name="budget"></td>
            </tr>
            <tr>
                    <td align="center" class="table_title" colspan="6"><button type="submit">SUBMIT</button></td>
                </tr>
        </table>
    </form>
</body>
</html>